h1{color: #F8A11D; text-align: right;}
i{color: white; background-color: #018300;}
body{width: 600px;}
span{color: #E01417; font-size: 30px;}
.o{color: #E01417;}
h2{font-weight: bold;}
.grey{color: #969A95;}
.green{color: #018300;}
.blue{color: #434ADC;}
.orange{color: #F8A11D;}
.col{background-color: #018300;
    text-align: center;
    color: white;
    width: 90px;}
